.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.bg-black{
    background-color: black;
    color: #fff;
}
.invert {
    filter: invert(1);
}
.bg-grey{
    background-color: #1f1f1f;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 7px;
}
.p-1{
    padding: 20px;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #535353 #000;
}